<header>
  <div class="header-logo">
    <% if @current_user %>
      <%= link_to("Food Map", "/posts/index") %>
    <% else %>
      <%= link_to("Food Map", "/") %>
    <% end %>
  </div>
  <ul class="header-menus">
    <% if @current_user %>
      <li> <%= link_to("post all","/posts/index") %></li> 
      <li> <%= link_to("new post","/posts/new") %></li>
      <li> <%= link_to("all users","/users/index") %><li>
      <li><%= link_to("logout", "/logout", {method: :post}) %></li>
    <% else %>
      <li> <%= link_to("About","/about") %></li>
      <li><%= link_to("sign up","/signup") %></li>
      <li><%= link_to("login","/login") %></li>
    <% end %>
  </ul>
</header>
