<header>
  <%= link_to("Food Map","/") %>
  <% if @current_user %>
    <li> <%= link_to("post all","/posts/index") %></li> 
    <li> <%= link_to("new post","/posts/new") %></li>
    <li> <%= link_to("all users","/users/index") %><li>
    <li><%= link_to("logout", "/logout", {method: :post}) %></li>
  <% else %>
    <%= link_to("About","/about") %>
    <%= link_to("sign up","/signup") %>
    <%= link_to("login","/login") %>
  <% end %>
</header>
